 <div class="user-details" data-aos="zoom-in" data-aos-duration="1000">
  <h2> My Expertise </h2>
  <div>
    <p> {{site.user_description}} </p>
  </div>
</div>
  <div class="user">
    <div class="tech" data-aos="fade-right" data-aos-offset="200" data-aos-duration="500">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <p>I am very well exposed to front-end development and used a variety of design frameworks that can make the development much easier and faster. I also apply Design Methologies such as BEM and and SMCSS as i believe that design also requires great architecture plan.</p>
    </div>
    <div class="tech" data-aos="fade-left" data-aos-offset="200"data-aos-delay="300" data-aos-duration="500">
      <h2>Code</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-drupal-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-codeigniter-plain-wordmark colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>From Business requirement to a system feature or function, i am experienced to solve any business requirement and make into a usable system feature in no time. I've used several PHP Frameworks to deal with a diverse types of projects from small to large scale. </p>
    </div>
    <div class="tech" data-aos="fade-right" data-aos-offset="200" data-aos-duration="500">
      <h2>Infrastructure</h2>
      <i class="devicon-apache-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-nginx-original-wordmark colored"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-redhat-plain-wordmark colored"></i>
      <p>Aside from development i have also background in infrastructure. I have worked with a large projects which restructure multiple websites and integrate them into a single domain and create a standard url format to access each website. I've handled projects which uses different platforms as well as operating systems which i have learned to use well.</p>
    </div>
    <div class="tech" data-aos="fade-left" data-aos-offset="200"data-aos-delay="300" data-aos-duration="500">
      <h2>Tools</h2>
      <i class="devicon-atom-original colored"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <img class="img-icon" src="{{ "/assets/img/jenkins.png" | prepend: site.baseurl }}"/>
      <i class="devicon-photoshop-line colored"></i>
      <p>In my 6 years of experience as a web developer, i used multiple tools that make development much fasters and effective. These tools supports the knowledge that developers have and harnesses it to be used in an efficient manner. These tools covers from design, code, architecture to project management. As a successful project isn't only defined by the application's result but also the process behind its creation.</p>
    </div>
</div>
