 <div class="user-details">
  <h1> My Expertise </h1>
  <div>
    <p> {{site.user_description}} </p>
  </div>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-drupal-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-codeigniter-plain-wordmark colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Infra</h2>
      <i class="devicon-apache-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-nginx-original-wordmark colored"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-redhat-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-atom-original colored"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <img class="img-icon" src="{{ "/assets/img/jenkins.png" | prepend: site.baseurl }}"/>
      <i class="devicon-photoshop-line colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
