 <div class="user-details" data-aos="zoom-in" data-aos-duration="1000">
  <h2> My Expertise </h2>
  <div>
    <p> {{site.user_description}} </p>
  </div>
</div>
  <div class="user">
    <div class="tech" data-aos="fade-right" data-aos-offset="200" data-aos-duration="500">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <p>He is very well exposed to front-end development and used varieties of design frameworks that can make the development much easier and faster. He practices Design Methodologies such as BEM and SMCSS, as he believes that design also requires a well-planned structure.</p>
    </div>
    <div class="tech" data-aos="fade-left" data-aos-offset="200"data-aos-delay="300" data-aos-duration="500">
      <h2>Code</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-drupal-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-codeigniter-plain-wordmark colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>From Business requirements to a system feature or function, he solves various business requirements and efficiently forms useful system features. He used several Development Frameworks to deal with diverse types of projects from small to large scale.</p>
    </div>
    <div class="tech" data-aos="fade-right" data-aos-offset="200" data-aos-duration="500">
      <h2>Infrastructure</h2>
      <i class="devicon-apache-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-nginx-original-wordmark colored"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-redhat-plain-wordmark colored"></i>
      <p>Aside from development, he also has a background in infrastructure. He has worked with large projects which restructure multiple websites and integrate them into a single domain and create a standard URL format to access each website. He handled projects which used different platforms, may it be opensource or proprietary..</p>
    </div>
    <div class="tech" data-aos="fade-left" data-aos-offset="200"data-aos-delay="300" data-aos-duration="500">
      <h2>Tools</h2>
      <i class="devicon-atom-original colored"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <img class="img-icon" src="{{ "/assets/img/jenkins.png" | prepend: site.baseurl }}"/>
      <i class="devicon-photoshop-line colored"></i>
      <p>In his 6 years of experience as a web developer, he used multiple tools that make development much fasters and effective. These tools support the knowledge that developers have and harness it efficiently. These tools cover from design, code, architecture to project management. A successful project isn't only defined by the application's result but also the process behind its creation.</p>
    </div>
</div>
