
<div class="chatbot-container" id="zim-chatbot">	
	<div class="chatbox">
		<div class="control-display">
			<button class="minimize" id="minimize-chat"><i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
			<button class="expand" id="expand-chat"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>
			<button class="close" id="close-chat"><i class="fa fa-times" aria-hidden="true"></i></button>
		</div>
		<div class="message-container">

		</div>
		<div class="input-container">
			<input id="text-chat" type="text" name="chat-message"/>
			<button id="send-chat-message">
				<i class="fa fa-paper-plane" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>