<section id="home" data-aos="zoom-out-down" data-aos-duration="2000">
  <div class="header">
      <div class="avatar-container" style="display:none;">
        <div class="avatar-wrapper"><img id="avatar-icon" src="{{ "/assets/img/developer.png" | prepend: site.baseurl }}""/></div>
      </div>
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email}}">
          <i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://ph.linkedin.com/in/{{site.linkedin_username}}">
          <i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Facebok" target="_blank" href="https://fb.me/{{site.facebook_username}}">
          <i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="http://github.com/zedrickvillas">
          <i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#contact" data-scroll>Contact Me</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll>
    <i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</section>
