#privacy {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  background-color: $background-content;
  padding-bottom: 20px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  @media (min-width: 1024px) {
    padding: 25px 100px;
  }
  h2 {
    text-align: center;
  }
}
