#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background-color: $background-content;

  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  @media (min-width: 1024px) {
    padding: 0 100px;
  }
}

.user-projects {
  margin: 20px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    color: $main-contrast;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
  }
}

.contents {
  @media only screen and (min-width: $cut) {
    margin-left: 0;
    width: 48%;
  }
  h3 {
    @media only screen and (min-width: $cut) {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.contents-right {
  @media only screen and (min-width: $cut) {
    float: right;
    width: 48%;
  }
  h3 {
    @media only screen and (min-width: $cut) {
      padding-top: 0;
      margin-top: 0;
    }
  }
}
.images-right {
  @media only screen and (min-width: $cut) {
    float: right;
    width: 48%;
  }
  @media only screen and (max-width: $cut) {
    text-align: center;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: right;
    }
  }
}

.images-left {
  @media only screen and (min-width: $cut) {
    float: left;
    width: 48%;
  }
  @media only screen and (max-width: $cut) {
    text-align: center;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: left;
    }
  }
}

.project-link {
  @media only screen and (max-width: $cut) {
    margin: auto;
  }
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 5px;
  color: $main;
  background-color: $main-contrast;
  border: 1px solid $main;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out, background-color 0.3s ease-out,
    border-color 0.3s ease-out;
  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in, background-color 0.3s ease-in,
      border-color 0.3s ease-in;
  }
  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in, background-color 0.3s ease-in,
      border-color 0.3s ease-in;
  }
}
