$main: #fff;
$main-contrast: #333;
$background-content: rgba(256,256,256,0.8);
$background-footer: rgba(256,256,256,0.8);
$background-content-new: rgba(0,0,0,0.5);
$background-footer-new: rgba(0,0,0,0.5);
$sec: #4B5664;
$purple: #54516A;
$cut: 550px;
